<!-- <div class="small-card">
    <app-card-tape title="Smite 2" desc="Builds" img="/assets/smite2.jpg"></app-card-tape>
</div>

<div class="small-card">
    <app-card-tape title="Smite 2" desc="Builds" img="/assets/smite2.jpg"></app-card-tape>
</div> -->

<div class="small-card">
    <app-card-tape title="Smite 2" desc="Builds" img="/assets/smite2.jpg"></app-card-tape>
    <app-card-tape title="Smite 2" desc="Builds" img="/assets/smite2.jpg"></app-card-tape>
    <app-card-tape title="Smite 2" desc="Builds" img="/assets/smite2.jpg"></app-card-tape>
    <app-card-tape title="Smite 2" desc="Builds" img="/assets/smite2.jpg"></app-card-tape>
    <app-card-tape title="Smite 2" desc="Builds" img="/assets/smite2.jpg"></app-card-tape>
    <app-card-tape title="Smite 2" desc="Builds" img="/assets/smite2.jpg"></app-card-tape>
</div>
