<div class="menu-container">
    <div class="menu-container-logo">
        <img src="assets/repolho-roxo.png" alt="Repolho Roxo">
        <p><span>Repolho</span> Forge</p>
    </div>
    <div class="menu-container-links">
        <a class="menu-container-links-link" target="_blank">Home</a>
        <a class="menu-container-links-link" target="_blank">Builds</a>
        <a class="menu-container-links-link" target="_blank">Gods</a>
        <a class="menu-container-links-link" target="_blank">Pathnotes</a>
        <a class="menu-container-links-contact" target="_blank">Contact</a>
    </div>
</div>
